/* --------Formulario----------- */
body{
    margin: 0;
    padding: 0;
}

.formulario{
    background: #1687a0;
    height: 100vh;
}
.personal-information{
    padding: 20px;
}

.formulario h1 {
    margin: 30px;
    font-size: 40px;
    font-weight: bolder;
    font-family: arial;
    text-align: center;
    color: white;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

::-webkit-input-placeholder {
   font-family: Arial, Helvetica, sans-serif;
}


.container-names .name{
    margin: 10px;
    width: 561px;
    height: 40px;
    padding: 5px 15px;
}

.container-data .email{
    margin: 10px;
    width: 250px;
    height: 40px;
    padding: 5px 15px;
}

.container-data .phone{
    margin: 10px;
    width: 250px;
    height: 40px;
    padding: 5px 15px;
}

.container-information .description{
    margin: 10px;
    width: 561px;
    height: 100px;
    resize: none;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.botton{
    margin: 20px;
}

.botton button{
    padding: 15px 40px;
    text-transform: uppercase;
    background: #233451;
    border: 1px solid #233451;
    color: white;
}